<!DOCTYPE html>
<html>
  <head>
    <title>Animenyusu</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <header>
  <div class='nav'> 
    <span><h1>Anime new, Anime used, Anime news </h1></span>
  </div>
  <div>
    <p><%= link_to 'Anime land', animes_path %>
    <%= link_to 'User Home', users_path %>
    <%= link_to 'add to favourite', liked_animes_path %>
    <%= link_to 'Make a new Post', posts_path %></p>

  </div>
  <div id="banner">
      <img src="https://image.myanimelist.net/ui/5LYzTBVoS196gvYvw3zjwL_nk71Z0lmepi0f51OM5CE" alt="Anime Banner" title="Animenyusu Banner">
  </div>
  <%= yield %> 
  </header>
  </body>
</html>
